@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import "colours";
@import "header";
@import "mediaquery";
@import "cart";
@import "home";
*{
    margin: 0;
font-family: "Roboto";
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: $primary;
    color: $secondary;
}