@import "colours";
nav{
    background-color:$secondary;
    display: flex;
    justify-content: space-between;

    border: 2px solid salmon;
 
    padding: 0 2rem;
    h2{
text-transform: uppercase;
color: crimson;
    }
    div{
        display: flex;
      
        align-items: center;
    }
    a{
        color: crimson;
        font: 1.3rem;
margin: 0 1rem;
transition: all 0.5s;
&:hover{
    opacity: 0.5;
}
p{
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-color: crimson;
    height: 15px;
    width: 15px;
    transform: translate(80%,-80%);
}    
}
    
}